<section class="py-6">
    <h1 class="text-4xl font-black text-white">Blog</h1>
    <div class="space-y-4 mt-4">
        {{ collection:blog }}
        <article class="flex flex-col items-start">
            <a
                href="{{ url }}"
                class="inline-block text-lg sm:text-xl font-medium styled-underline"
            >
                <h3>{{ title }}</h3>
            </a>
            <time datetime="date format('Y-m-d')" class="text-xs font-mono"
                >{{ date }}</time
            >
        </article>
        {{/collection:blog }}
    </div>
</section>
